
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f4f8fb;
    color: #1a1a1a;
    overflow-x: hidden;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(12px);
    z-index: 1000;
    transition: 0.3s;
}

header h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: 4px;
}


nav ul {
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin: 0 18px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}

nav ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #ffd166;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}


.hero {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url("hero.jpg") center/cover no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h2 {
    font-size: 60px;
    margin-bottom: 15px;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hero p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 30px;
    opacity: 0.95;
    max-width: 500px;
    line-height: 1.6;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.btn-hero {
    display: inline-block;
    background: linear-gradient(45deg, #ffd166, #ffb703);
    padding: 15px 40px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    color: black;
    transition: 0.4s;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.btn-hero:hover {
    transform: scale(1.1);
}

#acasa {
    text-align: center;
    background-color: white;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 12px 0;
    }

    .hero h2 {
        font-size: 32px;
    }

    .hero p {
        font-size: 16px;
    }
}